@using Business.ViewModels;
@model List<PokemonViewModel>
@{
    ViewData["Title"] = "Pokemons";
}

<div class="row justify-content-center">
    <div class="col-11">
        <div class="card shadow-sm">
            <div class="card-header bg-primary bg-opacity-75">
                <h3 class="text-white">
                    Pokemons Maintenance
                    <a class="btn btn-success shadow-sm" asp-controller="Pokemon" asp-action="Create">Create</a>
                </h3>
            </div>
            @if (Model == null)
            {
                <div class="container-fluid text-center m-5">
                    <h4>No Pokemons created...</h4>
                    <h5>Start creating one!</h5>
                </div>
            }
            else
            {
                <div class="card-body">
                    <div class="row">
                        @foreach (PokemonViewModel item in Model)
                        {
                            <div class="col-2 mb-3">
                                <div class="card shadow-sm">
                                    <img src="@item.ImageUrl" class="img-thumbnail card-img-top" />

                                    <div class="card-body">
                                        <h3>@item.Name</h3>
                                        <div>
                                            <label class="card-subtitle text-muted">Types:</label>
                                            <span class="badge text-bg-primary">@item.PrimaryType.Name</span>
                                            @if (item.SecondaryType != null)
                                            {
                                                <span class="badge text-bg-secondary">@item.SecondaryType.Name</span>
                                            }
                                        </div>
                                        <div>
                                            <label class="card-subtitle text-muted">Region:</label>
                                            <span class="badge text-bg-info">@item.Region.Name</span>
                                        </div>
                                        <div class="mt-3 d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <a asp-controller="Pokemon" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info">Edit</a>
                                                <a asp-controller="Pokemon" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>
